TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
POST_HOUR_LOCAL=09:00
BOT_LANGUAGE=es
THE_ODDS_API_KEY=5f879057973af2ab7a6bc6729d4bfbdd
THE_ODDS_API_BASE_URL=https://api.the-odds-api.com/v4
THE_ODDS_API_REGION=eu
THE_ODDS_API_BOOKMAKER=bet365
API_FOOTBALL_KEY=
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_HOST=
